<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QAQuality</title>
    <link href="https://cdn.bootcss.com/uikit/3.0.0-beta.40/css/uikit.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdn.bootcss.com/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdn.bootcss.com/uikit/3.0.0-beta.40/js/uikit-icons.js"></script>

</head>

<body>
    <nav class="uk-navbar">
        <div class="uk-container-left uk-margin-large-left">
            <a href="/" class="uk-navbar-item uk-logo">QuickApp Quality</a>
        </div>
        <div class="uk-container-right uk-position-right uk-margin-large-right">
            <ul class="uk-navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="/tester">Tester</a></li>
                <li><a href="/helper">Help</a></li>
            </ul>
        </div>
    </nav>

    <div class="tm-middle uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        {%- block page_content %}
        {%- endblock page_content %}
    </div>

    <div class="tm-footer uk-container uk-container-expand uk-text-center uk-position-bottom uk-margin-large-bottom">
        <div class="uk-panel">
            <p>@williamfzc, Powered by flask+uikit. </p>
        </div>
    </div>

</body>
</html>