<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QAQuery</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/uikit_theme.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/uikit.min.js"></script>
</head>

<body class="tm-background">
    <nav class="tm-navbar uk-navbar uk-navbar-attached">
        <div class="uk-container uk-container-left">
            <a href="/" class="uk-navbar-item uk-logo">QAQuery</a>
        </div>

        <div class="uk-container uk-container-center">

            <ul class="uk-navbar-nav uk-hidden-small">
                <li><a href="/">Home</a></li>
                <li><a href="/">Analysis</a></li>
                <li><a href="/">Tester</a></li>
                <li><a href="/">Help</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>